* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	width: 100%;
	height: 6161px;
}

.section1 {
	width: 100%;
	height: 1215px;
	background: url(../media/images/backgroundimg.png);
	background-repeat: no-repeat;
	background-size: cover;
}

	.logo {
		margin: 5% 0 0 10%;
	}

	.deadpool1 {
		margin: 15% 0 0 30%;
	}


.section2 {
	width: 100%;
	height: 1340px;
	background: url(../media/images/backgroundimg2.png);
	background-repeat: no-repeat;
	background-size: cover;
}

	.deadpool2 {
		margin: 30% 20% 0 20%;
	}

	.section2_content {
		width: 90%;
		height: 1210px;
		margin: 0 auto;
	}

		.about {
			margin-top: 80px;
		}

		.element {
			/*width: 100%;
			margin-top: 400px;
			margin-left: 100px;
			shape-outside: url(../media/images/deadpool2.png);
			shape-image-threshold: 0.5;
			float: left;*/
		}

		.deadpool_p {
			/*-webkit-clip-path: polygon(20% 0%, 85% 0%, 100% 40%, 80% 60%, 70% 80%, 70% 100%, 50% 100%, 0% 40%);
			clip-path: polygon(20% 0%, 85% 0%, 100% 40%, 80% 60%, 70% 80%, 70% 100%, 50% 100%, 0% 40%);*/
			width: 1250px;
			height: 380px;
    		margin: 10% auto 0 auto;
    		text-align: center;
			color: white;
			font-size: 37px;
			font-weight: 300;
			font-family: 'Roboto', sans-serif;
		}

		/*.shape {
			
			width: 1250px;
			height: 380px;
			-webkit-clip-path: polygon(20% 0%, 85% 0%, 100% 40%, 80% 60%, 70% 80%, 70% 100%, 50% 100%, 0% 40%);
			clip-path: polygon(20% 0%, 85% 0%, 100% 40%, 80% 60%, 70% 80%, 70% 100%, 50% 100%, 0% 40%);
    		margin: 10% auto 0 auto;
    		text-align: center;
			color: white;
			font-size: 37px;
			font-weight: 300;
			font-family: 'Roboto', sans-serif;
			position: relative;
			float: left;
}


		.shape::after {
			content: "";
			width: 0;
			/*height: 0;*/
			/*-webkit-clip-path: polygon(20% 0%, 85% 0%, 100% 40%, 80% 60%, 70% 80%, 70% 100%, 50% 100%, 0% 40%);
			clip-path: polygon(20% 0%, 85% 0%, 100% 40%, 80% 60%, 70% 80%, 70% 100%, 50% 100%, 0% 40%);
    		margin: 10% auto 0 auto;
    		position: absolute;
    		float: left;
}*/

.section3 {
	width: 100%;
	height: 1201px;
	background: url(../media/images/backgroundimg3.png);
	background-repeat: no-repeat;
	background-size: cover;
}

	.section3_content {
		width: 90%;
		margin: 0px auto 0 auto;
	}

		.quotes {
			margin-top: 80px;
			float: left;
		}

		.navodnici {
			float: left;
			margin: 200px 0 0 207px;
		}

		.deadpool3 {
			margin: -2px 0 0 -9%;
		}


.section4 {
	width: 100%;
	height: 1200px;
	margin-top: -5px;
	/*margin-left: -1px;*/
	/*margin: -5px;*/
}

	.gallery {
		width: 346px !important;
		height: 61px !important;
		margin-top: 80px !important;
		margin-left: 100px !important;
	}

	.slider_box {
		width: 150px !important;
		height: 70px !important;
		border-bottom: 3px solid #fff !important;
		opacity: .5;
	}

		.of {
			width: 130px !important;
			height: 50px !important;
			margin: 930px 0 0 150px !important;
		}

		.line {
			width: 184px !important;
			height: 3px !important;
			margin: 990px 0 0 120px !important;
		}


		.social_media {
			width: 14px !important;
			height: 24px !important;
			margin: 1010px 0 0 150px !important;
			opacity: .7 !important;
		}

		.social_media2 {
			width: 26px !important;
			height: 20px !important;
			margin: 1013px 0 0 190px !important;
			opacity: .7 !important;
		}

		.social_media3 {
			width: 24px !important;
			height: 24px !important;
			margin: 1010px 0 0 230px !important;
			opacity: .7 !important;
		}

		.social_media4 {
			width: 20px !important;
			height: 25px !important;
			margin: 1010px 0 0 270px !important;
			opacity: .7 !important;	
		}

		.social_media:hover {
			opacity: 1 !important;
			cursor: pointer;
		}

		.social_media2:hover {
			opacity: 1 !important;
			cursor: pointer;
		}

		.social_media3:hover {
			opacity: 1 !important;
			cursor: pointer;
		}

		.social_media4:hover {
			opacity: 1 !important;
			cursor: pointer;	
		}


/* SLIDER ARROWS */

/*.sp-previous-arrow {
	bottom: 10px !important;
	background-color: lime;
}

.sp-next-arrow {
	
}*/

.sp-arrows {
	width: 240px !important;
    left: 93px !important;
    margin-top: -15px !important;
    bottom: 255px !important;
    top: auto !important;
    color: #838080 !important;
}

.sp-fade-arrows {
	opacity: 1 !important;
}

.sp-arrow {
	width: 7px !important;
    height: 20px !important;
}

.sp-next-arrow:after, .sp-next-arrow:before, .sp-previous-arrow:after, .sp-previous-arrow:before {
	background-color: #838080;
}


.section5 {
	width: 100%;
	height: 1200px;
	/*background-color: red;*/
}

	/*.video {
		width: 100%;
		height: auto;
	}*/