* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	width: 100%;
	height: 6161px;
}

.section1 {
	width: 100%;
	height: 1189px;
	background: url(../media/images/backgroundimg.png);
	background-repeat: no-repeat;
}

	.logo {
		margin: 5% 0 0 10%;
	}

	.deadpool1 {
		margin: 19% 0 0 30%;
	}

	.scroll {
		margin: -4% 48% 0 48%;
	}

.section2 {
	width: 100%;
	height: 1210px;
	background: url(../media/images/backgroundimg2.png);
	background-repeat: no-repeat;
}

	.deadpool2 {
		margin: 30% 20% 0 20%;
	}

	.section2_content {
		width: 90%;
		height: 1210px;
		margin: 0 auto;
	}

		.about {
			
		}